<% include header %>
<style>
    h2 {
        position: absolute;
        top: 25%;
        left: 47%;
        margin-left: -200px;
        color: red;
    }
    div.item1,
    div.item {
    position: relative;
    left: 12%;
    width: 225px;
    border: 1px solid red;
    text-align: center;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
    background-color: black;
    }
    div.item1 {
        margin-top: 250px;
    }
    p.nom {
    font-size: 12px;
    color: white;
    }
    p.des {
        font-size: 11px;
        color: white;
    }
</style>
<h2>Ataques que pueden realizar los Zombies</h2>
<form method="post" role="form">
<div class="item1">
<p class="nom"><strong> Puñetazos y arañazos </strong></p>
<img src="https://em.wattpad.com/32245312a1674e026a56c9d5706e56a9311e6057/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f776174747061642d6d656469612d736572766963652f53746f7279496d6167652f3779412d3576544b5a396c564b413d3d2d3235323932303038302e313434623362313663306165663030352e6a7067?s=fit&w=720&h=720" width= "94%"/>    
<p class="des">Estos ataques son comunmente realizados por los Zombies Normales</p>
</div>
<div class="item1">
<p class="nom"><strong> Agarre a la espalda, arañazos </strong></p>
<img src="http://3.bp.blogspot.com/_7dA39GpaDMg/SwtmT_2-MoI/AAAAAAAAAnw/Eal2UPzqFao/s400/left4dead2+jockey.jpg" width= "66.7%"/>    
<p class="des">A los Jockey les gusta subirse a la cabeza de la victima para arañarlo</p>
</div>
<div class="item1">
<p class="nom"><strong> Escupir ácido y arañar</strong></p>
<img src="https://3.bp.blogspot.com/-aDJ3vt6lb5A/WVgRj_JExnI/AAAAAAAAACI/YFRKxB2cBEYYTjwVH2wviNOhqGBI_n4VgCLcBGAs/s640/Spitter-left-4-dead-2-35153135-310-500.jpg" width= "28%"/>    
<p class="des">A los Spitter les gusta usar su acido que tienen en la panza como ataque, junto con sus manos</p>
</div>
<div class="item1">
<p class="nom"><strong> Puño, cargar contra los supervivientes y golpear a uno contra el suelo consecutivamente</strong></p>
<img src="http://images.wikia.com/left4dead/images/1/13/Charger_2.png" width= "23%"/>    
<p class="des">Estos ataques son la especialidad de los Chargers, por la fuerza y su enorme brazo.</p>
</div>
<div class="item">
<p class="nom"><strong> Puñetazo, lanzamiento de roca y propulsión de objetos de tamaño considerable como coches</strong></p>
<img src="https://ugc.kn3.net/i/origin/http://i162.photobucket.com/albums/t280/left4dead411/screenshots/tank-face.jpg" width= "56%"/>    
<p class="des">A los Tankes les gusta usar este tipo de ataques por su fuerza bruta</p>
</div>
<div class="item">
<p class="nom"><strong> Zarpazos</strong></p>
<img src="https://i.ytimg.com/vi/hA-pCqT9R5Y/hqdefault.jpg" width= "75%"/>    
<p class="des">Este tipo de ataque se usa mucho con las Witchs</p>
</div>
<div class="item">
<p class="nom"><strong> Zarpazos, puñetazos y arañazos </strong></p>
<img src="https://media.istockphoto.com/vectors/scratching-zombie-hand-vector-id153135416" width= "56%"/>    
<p class="des">Estos ataques los realizan los Payasos, son la principal forma para atacar</p>
</div>
<div class="item">
<p class="nom"><strong> Puñetazos, patadas y arañazos </strong></p>
<img src="http://www.merlinsltd.com/WebRoot/StoreLGB/Shops/62030553/5325/F7A8/99A9/4937/E1B6/C0A8/2BB9/D5C1/feet_zombie_flesh_m.png" width= "77.5%"/>    
<p class="des"> Estos ataques los usan los Antidisturbios</p>
</div>
</form>
<% include footer %>