<% include header %>
<style>
    h2 {
        position: absolute;
        top: 25%;
        left: 43%;
        margin-left: -200px;
        color: red;
    }
    div.item1,
    div.item {
    position: relative;
    left: 12%;
    width: 225px;
    border: 1px solid red;
    text-align: center;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
    background-color: black;
    }
    div.item1 {
        margin-top: 250px;
    }
    p.nom {
    font-size: 28px;
    color: white;
    }
    p.des {
        font-size: 11px;
        color: white;
    }
</style>
<h2>Clases de Zombies que te puedes encontrar!</h2>
<form method="post" role="form">
    <div class="item1">
        <p class="nom"><strong> Zombie Normal </strong></p>
        <img src="https://ugc.kn3.net/i/origin/http://bloggergamers.files.wordpress.com/2009/06/left_4_dead_2_03.jpg" width= "106%"/>    
        <p class="des">Estos infectados no son muy numerosos, suele haber de 1 a 4 por cada oleada de infectados.</p>
    </div>
    <div class="item1">
        <p class="nom"><strong> Jockey </strong></p>
        <img src="https://vignette.wikia.nocookie.net/left4dead/images/f/f5/Jockey-0.png/revision/latest/zoom-crop/width/192/height/192?cb=20171101191928&path-prefix=es" width= "66.7%"/>    
        <p class="des">infectado pequeño y jorobado que es el esposo de la Spitter,que se desplaza como un mono, emite ruidos y risas de hiena.</p>
    </div>
    <div class="item1">
        <p class="nom"><strong> Spitter</strong></p>
        <img src="https://vignette.wikia.nocookie.net/left4dead/images/3/3a/Spitter_art.jpg/revision/latest/top-crop/width/192/height/192?cb=20160619220052&path-prefix=es" width= "60%"/>    
        <p class="des">Infectado femenino que es la esposa del Jockey, su estómago está lleno de un ácido muy corrosivo y puede escupirlo a una gran distancia.</p>
    </div>
    <div class="item1">
        <p class="nom"><strong> Charger</strong></p>
        <img src="https://vignette.wikia.nocookie.net/left4dead/images/7/78/Charger_I.png/revision/latest/top-crop/width/192/height/192?cb=20180502211147&path-prefix=es" width= "60%"/>    
        <p class="des">nfectado deforme que posee un robusto y gigantesco brazo, cuyo tamaño es inversamente proporcional al otro, que es muy pequeño.</p>
    </div>
    <div class="item">
        <p class="nom"><strong> Tank</strong></p>
        <img src="https://vignette.wikia.nocookie.net/left4dead/images/6/6b/Tank_2.png/revision/latest/top-crop/width/192/height/192?cb=20140108201450&path-prefix=es" width= "67%"/>    
        <p class="des">Infectado monstruoso con una gran masa muscular y resistencia. Puede agarrar cosas pesadas y tirarlos.</p>
    </div>
    <div class="item">
        <p class="nom"><strong> Witch</strong></p>
        <img src="https://vignette.wikia.nocookie.net/left4dead/images/b/b7/325px-Witch_2.png/revision/latest/top-crop/width/192/height/192?cb=20101226224520&path-prefix=es" width= "60%"/>    
        <p class="des">Infectado femenino reconocible por su forma de llorar. A diferencia de los demás infectados, ésta no ataca a los supervivientes a menos que se acerquen a ella.</p>
    </div>
    <div class="item">
        <p class="nom"><strong> Payaso </strong></p>
        <img src="https://vignette.wikia.nocookie.net/left4dead/images/e/ec/Clown.jpg/revision/latest/top-crop/width/192/height/192?cb=20171031073022&path-prefix=es" width= "60%"/>    
        <p class="des">Son payasos infectados que trabajaban en el parque de atracciones Whispering Oaks. Usan unos enormes zapatos que emiten un ruido al caminar.</p>
    </div>
    <div class="item">
        <p class="nom"><strong> Antidisturbios </strong></p>
        <img src="https://vignette.wikia.nocookie.net/left4dead/images/1/12/RiotInf.jpg/revision/latest/top-crop/width/192/height/192?cb=20171107065439&path-prefix=es" width= "60%"/>    
        <p class="des"> Son policías antidisturbios contratados por la CEDA para mantener el orden entre los evacuados en Nueva Orleans, pero que también cayeron víctimas de la infección.</p>
    </div>
</form>
<% include footer %>